<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class ="table">
        <thead class="table-dark">
        <tr>
            <th>이름</th>
            <th>수용인원</th>
            <th>예약자명</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="studyRoom : ${studyRoomList}">
                <td >
                    <a th:href="@{|/studyRoom/detail/${studyRoom.id}|}" th:text="${studyRoom.name}">
                </td>
                <td th:text="${studyRoom.capacity}">수용인원</td>
                <td th:text="${studyRoom.client}">예약자명</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/login}" class="btn btn-primary">로그인</a>
        <a th:href="@{/signUp}" class="btn btn-primary">회원가입</a>
    </div>

</div>
</html>